# ¡Hola Jorge!

Mi nombre es Ezequiel Ferrario, soy code reviewer en Tripleten y tengo el agrado de revisar el proyecto que entregaste.

Para simular la dinámica de un ambiente de trabajo, si veo algún error, en primer instancia solo los señalaré, dándote la oportunidad de encontrarlos y corregirlos por tu cuenta. En un trabajo real, el líder de tu equipo hará una dinámica similar. En caso de que no puedas resolver la tarea, te daré una información más precisa en la próxima revisión.

Encontrarás mis comentarios más abajo - **por favor, no los muevas, no los modifiques ni los borres**.

¿Cómo lo voy a hacer? Voy a leer detenidamente cada una de las implementaciones que has llevado a cabo para cumplir con lo solicitado. Verás los comentarios de esta forma:

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Si todo está perfecto.
</div>


<div class="alert alert-block alert-warning">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Si tu código está bien pero se puede mejorar o hay algún detalle que le hace falta. Se aceptan uno o dos comentarios de este tipo en el borrador, pero si hay más, deberá hacer las correcciones. Es como una tarea de prueba al solicitar un trabajo: muchos pequeños errores pueden hacer que un candidato sea rechazado.
</div>

<div class="alert alert-block alert-danger">

<b>Comentario del revisor</b> <a class="tocSkip"></a>

Si de pronto hace falta algo o existe algún problema con tu código o conclusiones.
</div>

Puedes responderme de esta forma:

<div class="alert alert-block alert-info">
<b>Respuesta del estudiante</b> <a class="tocSkip"></a>

Hola, muchas gracias por tus comentarios y la revisión.
</div>

¡Empecemos!

Una empresa de comercio electrónico, Store 1, recientemente comenzó a recopilar datos sobre sus clientes. El objetivo final de Store 1 es comprender mejor el comportamiento de sus clientes y tomar decisiones basadas en datos para mejorar su experiencia online.

Como parte del equipo de análisis, tu primera tarea es evaluar la calidad de una muestra de datos recopilados y prepararla para futuros análisis.

# Cuestionario

Store 1 tiene como objetivo garantizar la coherencia en la recopilación de datos. Como parte de esta iniciativa, se debe evaluar la calidad de los datos recopilados sobre los usuarios y las usuarias. Te han pedido que revises los datos recopilados y propongas cambios. A continuación verás datos sobre un usuario o una usuaria en particular; revisa los datos e identifica cualquier posible problema.

In [1]:
user_id = '32415'
user_name = 'mike reed'
user_age = 32
fav_categories = ['electronics', 'sport', 'books']

**Opciones:**

1. El tipo de datos para `user_id` debe cambiarse de una cadena a un número entero.
    
2. La variable `user_name` contiene una cadena que tiene espacios innecesarios y un guion bajo entre el nombre y el apellido.
    
3. El tipo de datos de `user_age` es incorrecto.
    
4. La lista `fav_categories` contiene cadenas en mayúsculas. En su lugar, deberíamos convertir los valores de la lista a minúsculas.

Escribe en la celda Markdown a continuación el número de las opciones que has identificado como problemas. Si has identificado varios problemas, sepáralos con comas. Por ejemplo, si crees que los números 1 y 3 son correctos, escribe 1, 3.

**Escribe tu respuesta y explica tu argumentación:**
1,2,3,4

# Ejercicio 1

Vamos a implementar los cambios que identificamos. Primero, necesitamos corregir los problemas de la variable `user_name`. Como vimos, tiene espacios innecesarios y un guion bajo como separador entre el nombre y el apellido; tu objetivo es eliminar los espacios y luego reemplazar el guion bajo con el espacio.

In [2]:
user_name = ' mike_reed '

# Eliminar espacios innecesarios y reemplazar guion bajo con espacio
user_name = user_name.strip().replace('_', ' ')

print(user_name)

mike reed

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Muy bien.</div>

# Ejercicio 2

Luego, debemos dividir el `user_name` (nombre de usuario o usuaria) actualizado en dos subcadenas para obtener una lista que contenga dos valores: la cadena para el nombre y la cadena para el apellido.

In [3]:

user_name = 'mike reed'

# Dividir la cadena en dos subcadenas
name_split = user_name.split()

# Ahora name_split es una lista con dos elementos, el primero es el nombre y el segundo es el apellido
nombre = name_split[0]
apellido = name_split[1] if len(name_split) > 1 else ''  # Manejar el caso en que no haya un apellido

print("Nombre:", nombre)
print("Apellido:", apellido)

Nombre: mike
Apellido: reed

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Excelente.</div>

# Ejercicio 3

¡Genial! Ahora debemos trabajar con la variable `user_age`. Como ya mencionamos, esta tiene un tipo de datos incorrecto. Arreglemos este problema transformando el tipo de datos y mostrando el resultado final.

In [4]:
user_age = 32.0

# Convertir el tipo de datos de float a int
user_age = int(user_age)

# Mostrar el resultado final
print("Edad:", user_age)

Edad: 32

# Ejercicio 4

Como sabemos, los datos no siempre son perfectos. Debemos considerar escenarios en los que el valor de `user_age` no se pueda convertir en un número entero. Para evitar que nuestro sistema se bloquee, debemos tomar medidas con anticipación.

Escribe un código que intente convertir la variable `user_age` en un número entero y asigna el valor transformado a `user_age_int`. Si el intento falla, mostramos un mensaje pidiendo al usuario o la usuaria que proporcione su edad como un valor numérico con el mensaje: `Please provide your age as a numerical value.` (Proporcione su edad como un valor numérico.)

In [5]:
user_age = 'treinta y dos'  # Variable que almacena la edad como un string.

try:
    # Intentar convertir user_age en un entero
    user_age_int = int(user_age)
    
    # Si tiene éxito, imprimir el resultado
    print("Edad (como entero):", user_age_int)

except ValueError:
    # Si hay un error de conversión, imprimir un mensaje
    print("Please provide your age as a numerical value.")

Please provide your age as a numerical value.

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Muy bien utilizado el *try-except*.</div>

# Ejercicio 5

Finalmente, considera que todas las categorías favoritas se almacenan en mayúsculas. Para llenar una nueva lista llamada `fav_categories_low` con las mismas categorías, pero en minúsculas, itera los valores en la lista `fav_categories`, modifícalos y agrega los nuevos valores a la lista `fav_categories_low`. Como siempre, muestra el resultado final.

In [6]:
# Lista original de categorías favoritas en mayúsculas
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']

# Nueva lista para almacenar las categorías en minúsculas
fav_categories_low = []

for category in fav_categories:
    fav_categories_low.append(category.lower())

print("Categorías en minúsculas:", fav_categories_low)

Categorías en minúsculas: ['electronics', 'sport', 'books']

# Ejercicio 6

Hemos obtenido información adicional sobre los hábitos de gasto de nuestros usuarios y usuarias, incluido el importe gastado en cada una de sus categorías favoritas. La gerencia está interesada en las siguientes métricas:

- Importe total gastado por el usuario o la usuaria.
- Importe mínimo gastado.
- Importe máximo gastado.

Vamos a calcular estos valores y mostrarlos en la pantalla:

In [7]:
fav_categories_low = ['electronics', 'sport', 'books']
spendings_per_category = [894, 213, 173]

total_amount = sum(spendings_per_category) # escribe tu código aquí
max_amount = max(spendings_per_category) # escribe tu código aquí
min_amount = min(spendings_per_category) # escribe tu código aquí

# no elimines la siguiente declaración print
print(total_amount)
print(max_amount)
print(min_amount)

1280
894
173

# Ejercicio 7

La empresa quiere ofrecer descuentos a sus clientes leales. Los clientes y las clientas que realizan compras por un importe total mayor a $1500 se consideran leales y recibirán un descuento.

Nuestro objetivo es crear un bucle `while` que compruebe el importe total gastado y se detenga al alcanzarlo. Para simular nuevas compras, la variable `new_purchase` genera un número entre 30 y 80 en cada iteración del bucle. Esto representa el importe de dinero gastado en una nueva compra y es lo que hay que sumar al total.

Una vez que se alcance el importe objetivo y se termine el bucle `while`, se mostrará la cantidad final.

In [8]:
from random import randint

total_amount_spent = 1280
target_amount = 1500

while total_amount_spent < target_amount: # escribe tu código aquí
	new_purchase = randint(30, 80) # generamos un número aleatorio de 30 a 80
	total_amount_spent += new_purchase# escribe tu código aquí

print(total_amount_spent)

1556

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Perfecto.</div>

# Ejercicio 8

Ahora tenemos toda la información sobre un cliente o una clienta de la forma que queremos que sea. La gerencia de una empresa nos pidió proponer una forma de resumir toda la información sobre un usuario o una usuaria. Tu objetivo es crear una cadena formateada que utilice información de las variables `user_id`, `user_name` y `user_age`.

Esta es la cadena final que queremos crear: `User 32415 is mike who is 32 years old.` (El usuario 32415 es Mike, quien tiene 32 años).

In [9]:
user_id = '32415'
user_name = ['mike', 'reed']
user_age = 32

user_info = f"User {user_id} is {user_name[0]} who is {user_age} years old."# escribe tu código aquí

# no elimines la siguiente declaración print
print(user_info)

User 32415 is mike who is 32 years old.

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Bien utilizado el f-string.</div>

Como sabes, las empresas recopilan y almacenan datos de una forma particular. Store 1 desea almacenar toda la información sobre sus clientes y clientas en una tabla.

| user_id | user_name | user_age | purchase_category | spending_per_category |
| --- | --- | --- | --- | --- |
| '32415' | 'mike', 'reed' | 32 | 'electronics', 'sport', 'books' | 894, 213, 173 |
| '31980' | 'kate', 'morgan' | 24 | 'clothes', 'shoes' | 439, 390 |

En términos técnicos, una tabla es simplemente una lista anidada que contiene una sublista para cada usuario o usuaria.

Store 1 ha creado una tabla de este tipo para sus usuarios y usuarias. Se almacena en la variable `users`. Cada sublista contiene el ID del usuario o la usuaria, nombre y apellido, edad, categorías favoritas y el importe gastado en cada categoría.

# Ejercicio 9

Para calcular los ingresos de la empresa, sigue estos pasos.

1. Utiliza `for` para iterar sobre la lista `users`.
2. Extrae la lista de gastos de cada usuario o usuaria y suma los valores.
3. Actualiza el valor de los ingresos con el total de cada usuario o usuaria.

Así obtendrás los ingresos totales de la empresa que mostrarás en la pantalla al final.

In [10]:
users = [
	  # este es el inicio de la primera sublista
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]
    ], # este es el final de la primera sublista

    # este es el inicio de la segunda sublista
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'shoes'], [439, 390]
    ] # este es el final de la segunda sublista
]

revenue = 0

for user in users:
	spendings_list = user[4] # extrae la lista de gastos de cada usuario o usuaria y suma los valores
	total_spendings = sum(spendings_list) # suma los gastos de todas las categorías para obtener el total de un usuario o una usuaria en particular
	revenue += total_spendings # actualiza los ingresos

# no elimines la siguiente declaración print
print(revenue)

2109

# Ejercicio 10

Recorre la lista de usuarios y usuarias que te hemos proporcionado y muestra los nombres de la clientela menor de 30 años.

In [11]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
     [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439,
     390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'],
     [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics',
     'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234,
     329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213,
     659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'],
     [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'
     ], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'],
     [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'
     ], [189, 299, 579]],
    ]

for user in users:
    if user[2] < 30:
        print(f"Nombres de la clientela menor de 30 años: {user[1]}")#escribe tu código aquí

Nombres de la clientela menor de 30 años: ['kate', 'morgan']
Nombres de la clientela menor de 30 años: ['samantha', 'smith']
Nombres de la clientela menor de 30 años: ['emily', 'brown']
Nombres de la clientela menor de 30 años: ['jose', 'martinez']
Nombres de la clientela menor de 30 años: ['james', 'lee']

<div class="alert alert-block alert-warning">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Esta muy bien pensado, pero en este caso imprimirlo linea por linea hubiese quedado mas prolijos. Podrias utilizar el f-string para lograr lo que queres, o simplemente en el mismo print con una . </div>



<div class="alert alert-block alert-danger">

<b>Comentario del revisor #2</b> <a class="tocSkip"></a>

Cuidado, la correccion esta muy bien pero te falto comentar la parte de `escribe tu codigo aqui`.</div>


<div class="alert alert-block alert-success">

<b>Comentario del revisor #3</b> <a class="tocSkip"></a>

Corregido. Muy bien, no dejes en mardown codigo que no necesitamos como el ejemplo debajo de este comentario.</div>

# Ejercicio 11

Juntemos las tareas 9 y 10 e imprimamos los nombres de los usuarios y las usuarias que tengan menos de 30 años y un gasto total superior a 1000 dólares.

In [12]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
     [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439,
     390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'],
     [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics',
     'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234,
     329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213,
     659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'],
     [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'
     ], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'],
     [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'
     ], [189, 299, 579]],
    ]


for user in users:
    
    age = user[2]
    total_expense = sum(user[4])

    
    if age < 30 and total_expense > 1000:
        
        print(f"Nombre: {user[1][0]} {user[1][1]}")

Nombre: samantha smith
Nombre: james lee



<div class="alert alert-block alert-success">

<b>Comentario del revisor #3</b> <a class="tocSkip"></a>

Corregido.</div>

# Ejercicio 12

Ahora vamos a mostrar el nombre y la edad de todos los usuarios y todas las usuarias que han comprado ropa. Imprime el nombre y la edad en la misma declaración print.

In [5]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
     [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439,
     390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'],
     [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics',
     'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234,
     329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213,
     659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'],
     [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'
     ], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'],
     [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'
     ], [189, 299, 579]],
    ]
for user in users:
    if 'clothes' in user[3]:  
        print(f"{user[1][0]} {user[1][1]},  {user[2]} Años")

kate morgan,  24 Años
samantha smith,  29 Años
maria garcia,  33 Años
lisa wilson,  35 Años
james lee,  28 Años


<div class="alert alert-block alert-success">

<b>Comentario del revisor #6</b> <a class="tocSkip"></a>

Corregido. Te quedo excelente este ejercicio. 

Me gusto mucho como utilizaste el f- string.</div>

GRACIAS

Ejercicios:
1.	La variable user_name contiene una cadena que tiene espacios innecesarios y un guion bajo entre el nombre y el apellido.
2.	La variable user_name contiene una cadena que la quieren separada.
3.	El tipo de datos de user_age es incorrecto debe ser un número entero.
4.	El tipo de datos de user_age es incorrecto debe ser un número entero.
5.	La lista fav_categories contiene cadenas en mayúsculas. En su lugar, deberíamos convertir los valores de la lista a minúsculas.
6.	La lista spendings_per_category  contiene cadenas números enteros y hay que desglosarlos a Total, Maximo, y Minimo.
7.	El bucle  while  busca el valor de un importe total mayor a $1500 se consideran leales y recibirán un descuento.
8.	De las variables `user_id`, `user_name` y `user_age` hay que unir una cadena `User 32415 is mike who is 32 years old.`
9.	El bucle  spendings_list   extrae la lista de gastos de cada usuario o usuaria y suma los valores y la actulaiza.
10.	Del directorio  user  buscar en la lista de usuarios los nombres de la clientela menor de 30 años.
11.	Del directorio  user  buscar en la lista de usuarios los nombres de la clientela menor de 30 años y un gasto total superior a 1000 dólares.
12.	Del directorio  user  buscar en la lista de usuarios los nombres de la clientela que han comprado ropa.

<div class="alert alert-block alert-success">
<b>Comentario general #12</b> <a class="tocSkip"></a>

Jorge, esta bien lo que comentas.

Este comentario deberia ir arriba y ademas era entre las 4 opciones que te di. De igual manera hiciste un buen analisis exhaustivo.

Ademas hiciste un gran trabajo a nivel codigo, me gusto mucho como te quedo.

El trabajo pasa a estar **aprobado**. Exitos en lo que viene y saludos.
</div>